$red: rgba(255, 0, 0, 1);

body {
    background-color: #EBE8E4;
    color: #222;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

#app{
    height: 100%;
    width:100%;
}

nav {
    position:relative;
    top:0;left:0;
    background-color: #fff;s
    border: 1px solid #dedede;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    display: block;
    overflow: hidden;
    h2{
        display: inline-block;
        padding: 0 0 0 20px
    }
    ul{
        display: inline-block;
    }
    ul li{
        display: inherit;
        padding: 20px;

        a{
            color: #aaa;
            display: block;
            line-height: 12px;
            text-decoration: none
        }
    }
}


h1 {
    color: $red
}

.tussi{
    margin: 10px;
}

.isotila{
    position:absolute;
    bottom:0;
    background-color: pink;
    padding:20px;
    font-size:50pt;
    width:100%;
    text-align: center;
}

